@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>About us: A team of three students who have created an application for users to create and search </p>
<p>this is a test</p>
