@{
    ViewBag.Title = "Home Page";
}

<header>

    <div class="page-title">
        <h2>Welcome to LocalTaste</h2>
        <div class="page-meta">About us: A team of three students who have created an application for users to create, search and comment on their favorite restaurants.</div>
        <img src="~/img/logo.png.jpg" alt="Logo" style=" width:30%; height: 30%;"/>
    </div>

</header>

<!-- Main Content starts -->
<!-- For sheets effect -->
<div class="main-sheet1"></div>
<div class="main-sheet2"></div>
<div class="main-sheet3"></div>

<div class="main">
    <div class="container">
        <div class="row">



        </div>
    </div>
</div>

<!-- Main content ends -->