
@{
    ViewBag.Title = "Search";
}

<header>

    <div class="page-title">
        <h2>Search</h2>
        <div class="page-meta">This is where you look up your favorite restaurant.</div>
    </div>

</header>

<!-- Main Content starts -->
<!-- For sheets effect -->
<div class="main-sheet1"></div>
<div class="main-sheet2"></div>
<div class="main-sheet3"></div>

<div class="main">
    <div class="container">
        <div class="row">



        </div>
    </div>
</div>

<!-- Main content ends -->

